a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


body {

    font-family: Helvetica, sans-serif;
    color: white;
    height: 100vh;
}