body{
  background-color: black;
}



.App{
  
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.text{
display: flex;
flex-direction: row;
justify-content: center;
color: #12e9ac;
font-family: Helvetica, sans-serif;

text-align: center;
font-size: 1.5em;
}

.text p{
  margin: 10px;
}

.text a{
  text-decoration: none;
  color: #12e9ac;
}